<div class="header">Login</div>
<form>
  <!-- Email -->
  <div class="form-group">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter Your Email"
    />
  </div>

  <!-- Password -->
  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Enter Your Password"
    />
  </div>

  <!-- Login Link -->
  <div class="form-group text-end">
    <a class="login-link">Forget Password?</a>
  </div>

  <!-- Sign Up Button -->
  <button type="submit" class="btn btn-dark">Login</button>
</form>
