<div class="header">Sign Up</div>
<form>
  <!-- Username -->
  <div class="form-group">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Enter Your Name"
    />
  </div>

  <!-- Email -->
  <div class="form-group">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter Your Email"
    />
  </div>

  <!-- Password -->
  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Enter Your Password"
    />
  </div>

  <!-- Login Link -->
  <div class="form-group text-end">
    <a class="login-link">Already Have an account? Login</a>
  </div>

  <!-- Sign Up Button -->
  <button type="submit" class="btn btn-dark">Register</button>
</form>
